spring:
  application:
    name: shop

  jwt:
    secret: ${JWT_SECRET}
    accessTokenExpiration: 900
    refreshTokenExpiration: 604800

profiles:
  active: dev

stripe:
  secretKey: ${STRIPE_SECRET_KEY}
  webhookSwcretKey: ${STRIPE_WEBHOOK_SECRET_KEY}

server:
  port: 8081

logging:
  level:
    org:
      springframework:
        web:
          servlet:
            mvc:
              method:
                annotation:
                  RequestMappingHandlerMapping: DEBUG