spring:
  datasource:
    url: jdbc:mysql://localhost:3306/store
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

  websiteUrl: http://localhost:4242

management:
  server:
    port: 8082
  endpoints:
    web:
      exposure:
        include: health,info,metrics,beans

